<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OIMRFS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Foreshore.styles.css" asp-append-version="true" />
    <script src="https://code.iconify.design/iconify-icon/1.0.8/iconify-icon.min.js"></script>
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        .full-height {
            height: 100vh;
        }

        .login-image {
            background: url('/media/Login-image.svg') no-repeat center center;
            background-size: cover;
        }

        .login-form-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .login-content {
            width: 100%;
            max-width: 1200px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row full-height">
            <!-- Left: Image -->
            <div class="col-md-6 d-none d-md-block login-image">
                <!-- Image is handled by background -->
            </div>

            <!-- Right: Login Form -->
            <div class="col-md-6 col-12 login-form-wrapper">
                <div class="login-content">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
